<div class="sidebar" id="sidebar">
    <div class="header">
        <div class="menu_btn" id="menu_btn">
            <i class='bxr bx-chevron-left'></i>
        </div>
        <div class="brand">
            <img src="~/images/logo_MicroSaldo.png" alt="logo" />
            <span>MicroSaldo</span>
        </div>
    </div>
    <div class="menu_container">
        <ul class="menu">
            <li class="menu_item menu_item_static">
                <a href="/HomePage/Index" class="menu_link">
                    <i class='bxr bx-home'></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="menu_item menu_item_static">
                <a href="/Products/Index" class="menu_link">
                    <i class='bxr bx-package'></i>
                    <span>Productos</span>
                </a>
            </li>
            <li class="menu_item menu_item_static">
                <a href="/Expenses/Index" class="menu_link">
                    <i class='bxr bx-wallet-note'></i>
                    <span>Egresos</span>
                </a>
            </li>
            <li class="menu_item menu_item_static">
                <a href="/Incomes/Index" class="menu_link">
                    <i class='bxr bx-print-dollar'></i>
                    <span>Ingresos</span>
                </a>
            </li>
            <li class="menu_item menu_item_static">
                <a href="/Reports/Index" class="menu_link">
                    <i class='bxr bx-receipt'></i>
                    <span>Reportes</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer">
        <ul class="menu">
            <li class="menu_item menu_item_static">
                <a href="/Settings/Index" class="menu_link">
                    <i class='bxr bx-cog'></i>
                    <span>Configuración</span>
                </a>
            </li>
        </ul>
        <div class="user">
            <div class="user_img">
                <img src="~/images/kitty.png" />
            </div>
            <div class="user_data">
                <span class="name">Dylan Moreno</span>
                <span class="email">dylanmorenovargas40@gmail.com</span>
            </div>
            <div class="user_icon">
                <i class='bx bx-arrow-right-stroke-square'></i>
            </div>
        </div>
    </div>
</div>