@{
    ViewData["Title"] = "Recuperar contraseña";
}

<div class="d-flex justify-content-center pt-5">

    <section class="register-card border border-dark rounded-0">

        <h1 class="card-title text-center mb-4">MicroSaldo</h1>

        <h3 class="card-subtitle text-center mb-4">Cambiar contraseña</h3>

        <form asp-controller="Account" asp-action="Login" method="post" class="d-flex flex-column gap-3">

            <div>
                <label class="form-label">Nueva contraseña</label>
                <input type="password" class="form-control" name="Password" required />
            </div>

            <div>
                <label class="form-label">Confirmar contraseña</label>
                <input type="password" class="form-control" name="Password" required />
            </div>

            <a asp-controller="HomePage" asp-action="Index" class="btn btn-dark mt-3">Confirmar</a>

        </form>

    </section>
</div>