@{
    ViewData["Title"] = "Inicio";
}

<header class="main-header">
    <div class="header-buttons">
        <a class="btn btn-dark text-white me-2" asp-controller="Auth" asp-action="Login">Iniciar sesión</a>
        <a class="btn btn-dark text-white" asp-controller="Auth" asp-action="Register">Registrarse</a>
    </div>
</header>

<main class="main-container">
    <section class="welcome-card border rounded-3 shadow-sm">
        <div class="row g-2 align-items-center">
            <div class="col-md-7 d-flex flex-column justify-content-start p-5 text-content">
                <h1 class="card-title">MicroSaldo</h1>
                <p class="card-text text-muted">¡Bienvenido a MicroSaldo! Es un placer tenerte con nosotros.</p>
                <p class="mt-3">Gestiona tus ingresos y egresos de forma sencilla y segura.</p>
            </div>

            <div class="col-md-5 d-flex justify-content-center align-items-center p-4">
                <img src="~/images/logo.png" alt="MicroSaldo" class="img-fluid home-image" />
            </div>
        </div>
    </section>
</main>
