@{
    Layout = "_LayoutWithSidebar";

    ViewData["Title"] = "Página Principal";

    ViewData["ActivePage"] = "Inicio";

    var name = "Dylan Moreno";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/homePage.css">
    <title>MicroSaldo - Dashboard</title>
</head>
<body>

    <div class="dashboard-card">
        <header>
            <h1 class="main-title">MicroSaldo</h1>
        </header>
        <div class="content-area">
            <div class="left-section">
                <div class="greeting">
                    <p>¡Bienvenido a MicroSaldo,</p>
                    <p><strong>@name!</strong></p>
                    <p>¿Qué haremos hoy?</p>
                </div>
                <div class="suggestions">
                    <h2 class="suggestions-title">Sugerencias</h2>
                    <ul class="suggestions-list">
                        <li><a href="/Products/Index">Productos</a></li>
                        <li><a href="/Expenses/Index">Egresos</a></li>
                        <li><a href="/Incomes/Index">Ingresos</a></li>
                        <li><a href="/Reports/Index">Reportes</a></li>
                    </ul>
                </div>
            </div>
            <div class="logo">
                <img src="~/images/logo.png" alt="">
            </div>
        </div>
    </div>
</body>
</html>