* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.container {
    width: 95%;
    margin: 20px auto;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
}


.card {
    border: 1px solid #999;
    padding: 25px;
}

.form-row {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 35px;
}

.form-row input {
    width: 200px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #999;
}

input[type="date"] {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #999;
}

.btn {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.btn.add {
    background: #555;
}

.btn.delete {
    background: #555;
}


.table {
    width: 100%;
}

.e_header {
    display: grid;
    grid-template-columns: 1fr 1.3fr 1.5fr 1fr auto;
    font-weight: bold;
    margin-bottom: 10px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1.3fr 1.5fr 1fr auto;
    align-items: center;
    margin-bottom: 22px;
}

.row span {
    width: 90%;
    border-bottom: 1px solid #999;
    padding-bottom: 4px;
}

.row.empty span {
    height: 18px;
}

.center {
    text-align: center;
}

.action {
    display: flex;
    justify-content: flex-end;
}
